body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

h2 {
    color: #333;
}

.bloco {
    background: white;
    padding: 15px;
    margin: 15px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
}

input {
    padding: 8px;
    margin: 5px;
    width: 80%;
}

button {
    padding: 8px 12px;
    margin-top: 5px;
    border: none;
    border-radius: 6px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    white-space: pre-line;
}