body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

h2 {
    color: #333;
}

.botoes button {
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

.botoes button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    white-space: pre-line;
}